body {
    margin: 0;
    min-height: 100vh;
    overflow: hidden;
}

.conteiner-header {
    background-color: #ffc9ff;
    display: flex;
    justify-content: center;
    padding: 40px 0px;
}

.conteiner-main {
    display: flex;
    justify-content: center;
    padding: 180px 0px;
}

.conteiner-footer {
    background-color: #cb87f6;
    display: flex;
    justify-content: center;
    padding: 40px 0px;
}